.input-area {
    text-align: center;
}

input {
    display: block;
    margin: 15px auto;
}

#id-button-add{
    width: 169px;
}

.input-weibo{
    color: white;
    background-color: black;
    height: 70px;
}