a.link-style {
    border-radius: 8px;
    background: black;
    color: white;
}

a.link-style:hover{
    color: #ff0;
}

h1 {
    text-align: center;
}

.navbar {
    text-align: right;
    background: #888;
    padding: 10px;
}