a.link-style {
    border-radius: 8px;
    background: black;
    color: white;
}

a.link-style:hover {
    color: #ff0;
}

h1 {
    text-align: center;
}

.navbar {
    text-align: right;
    background: #888;
}

button.link-style {
    border-radius: 8px;
    background: black;
    color: white;
}

button.link-style:hover {
    color: #ff0;
}

#id-input-weibo {
}

.input-comment {
}

.weibo-user {
    display: inline-block;
    text-align: left;
    font-weight: 800;
}

.weibo-title {
    display: block;
    border: 1px solid #444444;
}

.weibo-cell {
    border: 2px solid #222222;
}

.btn-small {
    font-size: 50%;
}