{% extends "base.html" %}
{% block title %}微博主页{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
    <h1 class="greeting-title">你好,{{ u.username }}</h1>
    <div class="input-weibo pure-form">
        <input id='id-input-weibo' class="pure-u-1-1" placeholder="在此输入微博内容">
        <button id='id-button-add' class="link-style pure-button pure-u-1-1">添加微博</button>
    </div>
    <div id="id-weibo-list">              
    </div>
{% endblock content %}

{% block script %}
<script src='/static/base.js'></script>
<script src='/static/weibo.js'></script>
{% endblock script %}