{% extends "base.html" %}
{% block title %}微博主页{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
    <h1>登录</h1>
    <h2>你好, {{username}}</h2>
    <form class="pure-form pure-form-stacked" action="/user/login" method="post">
        <input type="text" name="username" placeholder="请输入用户名">
        <input type="text" name="password" placeholder="请输入密码">
        <button class="pure-button" type="submit">登录</button>
    </form>
    <h3>{{result}}</h3>
{% endblock content %}