{% extends "base.html" %}
{% block title %}微博主页{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
    <h1>注册</h1>
    <form action="/user/register" method="post">
        <div class="input-area">
            <input type="text" name="username" placeholder="请输入用户名">
            <br>
            <input type="text" name="password" placeholder="请输入密码">
            <br>
        </div>
        <button type="submit">注册</button>
    </form>
    <h3>{{ result }}</h3>
{% endblock content %}
